#root{
    width: 80%;
    margin: 10px auto 0 ;
}

#navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brandName{
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

#navItems ul{
    display: flex;
    gap: 20px;
}

#navItems ul li{
    list-style: none;
}
#navItems ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.carousel {
    position: relative;
    width: 100%;
    border-radius: 10px;
    /* max-width: 1000px;  */
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-images {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 70vh;
    object-fit: fill;
    object-position: center;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  .carousel-text-overlay {
    position: absolute;
    bottom: 10px; /* Adjust the position as needed */
    left: 10px; /* Adjust the position as needed */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  